includes:
    - ./vendor/phpstan/phpstan-phpunit/extension.neon
    - ./vendor/phpstan/phpstan-phpunit/rules.neon
    - ./vendor/phpstan/phpstan-strict-rules/rules.neon
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app
        - tests
    level: max
    checkMissingIterableValueType: false
    typeAliases:
        non-negative-int: "int<0, max>"
        record-sample: "array{id: positive-int, title: string, position: non-negative-int, created_at: string, updated_at: string}"
